.progressList {
    width: 100%;
}

:global(.timeline:before) {
    left: 15px;
}

:global(.timeline>li>.fa), 
:global(.timeline>li>.glyphicon), 
:global(.timeline>li>.ion) {
    left: 2px;
}

:global(.timeline>li>.timeline-item) {  
    margin-left: 42px;
    margin-right: 0;
}

.zebra {
    background-color: #ecf0f5;
}

.tableBlock {
    display: table-cell;
    width: 1%;
}