@value danger from "../../Colors.css";

ul.list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

ul.list li {
    list-style: none;
    margin: 2px;
    padding: 2px;
    border: 1px #d2d6de solid;
    width: 100%;
    height: auto;
    position: relative;
}

ul.list li.placeholder {
    border: none;
}

ul.list::after {
    content: " ";
    clear: both;
}

.x {
    position: relative;
    padding: 0;
    border: none;
}

.x .dropzone { 
    margin: 0;
    width: 100%;
    height: 40px;
    border: 2px dashed #666;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
}

.remove {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 2px;
    right: 2px;
    text-align: center;
    line-height: 36px;
    background: white;
    border-radius: 40px;
    color: #f56954;
    cursor: pointer;
}